html, body {
    height: 100%;
    border: none;
    background: linear-gradient(20deg,white,yellow);
}
p {
    font-size: medium;
}

img {
    padding: 0 0 0 0;
}
.main {
    color: red;
}
.car {
    background-color: aqua;
}
.furniture {
    background-color: aqua;
}
.equipment {
    background-color: aqua;
}
.land_scape {
    background-color: aqua;
}


