html, body {
    height: 100%;
    border: none;
    background-image: url("../img/Screenshot 2022-02-10 at 23.59.29.png");
}
p {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.header_colours {
    background: linear-gradient(20deg,white,yellow);
}

h2, h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}