.border {
    border: 1px solid black;
}
.forest {
    background-image: url("../img/forest.jpeg");
    width: 70%;
    height: 550px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    margin: auto;
    position: relative;
    text-align: center;
}

.white_box {
    background-color: white;
    width: 50%;
    height: 150px;
    position: absolute;
    top: 30%;
    margin: 0;
    left: 25%;
}

.text {
    width: 50%;
    margin: 0;
    text-align: center;
    left: 25%;
    position: absolute;
}
.btn {
    position: absolute;
    bottom: 5px;
    left: 45%;
}

.icon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: -40px;
}