html, body {
    height: 100%;
    border: none;
    background-color: lightblue;
}
p {
    font-size: medium;
}

img {
    padding: 0 0 0 0;
}
.main {
    color: red;
}
.car {
    background-color: aqua;
}
.furniture {
    background-color: aqua;
}
.equipment {
    background-color: aqua;
}
.lansaft {
    background-color: aqua;
}


