.bbtableb{
    border: solid;
    width: 100px; height: 100px; margin: 5px; padding: 10px;
    display: inline-block;
    float: left;
}
.brown {
    background-color: brown;
}
.pink {
    background-color: deeppink;
}
.gray {
    background-color: gray;
}
.green {
    background-color: green;
}
div {
    height: 100px;
    width: 60%;
    line-height: 100px;
    text-align: center;
}